body{
    overflow-x: hidden;
    margin: 0;
    padding: 0px;
}
.first{
    width: 100vw;
    height: 480px;
    background-image: url(".\\Image+Site\\first\\1.webp");
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: 100vw auto;
}
.learn{
    width: 250px;
    border: none;
}
.learn:hover{
    background-color: rgb(192, 192, 192);
}
.mb-5{
    margin-bottom: 100px!important;
}
.img1{
    width: 100%;
    height: 550px;
}

#know .col-3{
    flex-basis: 31%!important;
    max-width: 31%!important;
    margin-bottom: 95px;
}
#know p{
    font-size: 20px;
    margin-bottom: 10px;
}

.img2{
    width: 100%;
}
.a{
    text-decoration: none;
}
.btn-dark{
    background-color: black;
    width: 40%;
    padding: 15px!important;
}
.btn-dark:hover{
    background-color: rgba(0, 0, 0, 0.699);
}


.bg-light{
    background-color: rgb(242, 242, 242)!important;
}

.row{
    margin: 0px;
}
.button{
    background: none;
    border: white 1px solid;
    color: white;
    bottom: 0px;
}
.button:hover{
    border: rgba(255, 255, 255, 0.555) 1px solid;
    color:  rgba(255, 255, 255, 0.555);
}

.font-btn{
    font-size: 20px;
}

#social .col-3{
    flex-basis: 31%!important;
    max-width: 31%!important;
    margin-bottom: 95px;
}
#social h4{
    font-size: 25px;
    margin-bottom: 10px;
}

#social .icon{
    width: 70px;
    bottom: 2px;
}

#social .bg-light{
    height: 190px;
    box-sizing: border-box;
}
h1{
    font-size: 40px;
    letter-spacing: 2px;
}

#b-footer{
    height: 450px;
    line-height: 40px;
}
#b-footer .models{
    margin:0px 150px 0px 50px!important;
}

#b-footer button{
    border: none;
    display: block;
    background-color: unset;
    outline: none;
    font-weight: lighter!important;
    font-size: 14px;
    padding: 0;
}

nav ul{
margin: 0;
padding: 0;
float: left;
list-style: none;
position: relative;
text-align: center;

}



nav li {
    display: inline-block;
    padding: 0px 12px;
}

nav a{
    color: black;
}

nav a:hover{
    color: gray;
    text-decoration: none;

}

nav{   
    display: flex;
    justify-content: space-between;
    padding: 30px 10%;
    margin:0;
    position: relative;
    z-index: 2000;

    
}

.logo{
    cursor: pointer;
}


.menu-sub{
    display: block;
    background-color: white;
    transition: height .5s ease-in-out;
    overflow: hidden;
    width: 100%;
    height: 0;
    max-height: 450px;
    position: absolute;
    left: 0;
    
    
}
 
nav li:hover .menu-sub{
    height: 450px;
    margin: 0px;
}
